<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <hooks>
      <hook>
        <param name="agent" type="Sitecore.ListManagement.Analytics.UnlockContactListsAgent, Sitecore.ListManagement.Analytics">
          <patch:attribute name="type" value="Sitecore.Support.ListManagement.Analytics.UnlockContactListsAgent, Sitecore.Support.179036"/>
        </param>
      </hook>
    </hooks>
  </sitecore>
</configuration>